version: 2
updates:
    - package-ecosystem: "npm"
      directory: "/"
      schedule:
          interval: "monthly"
      open-pull-requests-limit: 10
      ignore:
          # node support !== >=12.10.0
          - dependency-name: 'npmlog'
            versions: ['>=6']
            update-types: ["version-update:semver-minor", "version-update:semver-patch"]
          - dependency-name: 'are-we-there-yet'
            versions: ['>=3']
            update-types: ["version-update:semver-minor", "version-update:semver-patch"]
          - dependency-name: 'commander'
            versions: ['>=9']
            update-types: ["version-update:semver-minor", "version-update:semver-patch"]
          - dependency-name: 'pacote'
            versions: ['>=13']
            update-types: ["version-update:semver-minor", "version-update:semver-patch"]
          - dependency-name: '@npmcli/arborist'
            versions: ['>=5']
            update-types: ["version-update:semver-minor", "version-update:semver-patch"]
          - dependency-name: 'mocha'
            versions: ['>=10']
            update-types: ["version-update:semver-minor", "version-update:semver-patch"]
          - dependency-name: 'sinon'
            versions: ['>=14']
            update-types: ["version-update:semver-minor", "version-update:semver-patch"]
          # ESM only version
          - dependency-name: 'globby'
            versions: ['>=12']
            update-types: ["version-update:semver-minor", "version-update:semver-patch"]
          - dependency-name: 'pretty-bytes'
            versions: ['>=6']
            update-types: ["version-update:semver-minor", "version-update:semver-patch"]
          - dependency-name: 'p-queue'
            versions: ['>=7']
            update-types: ["version-update:semver-minor", "version-update:semver-patch"]
          - dependency-name: '*'
            update-types: ["version-update:semver-minor", "version-update:semver-patch"]
    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "weekly"
      open-pull-requests-limit: 0
