name: Update api docs
on:
  push:
    branches:
      - docs
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      path:
        description: 'Destination path to generate'
        required: false

permissions:
  contents: write # for peter-evans/create-pull-request to create branch
  pull-requests: write # for peter-evans/create-pull-request to create a PR

jobs:
  build:
    permissions:
      contents: write # for peter-evans/create-pull-request to create branch
      pull-requests: write # for peter-evans/create-pull-request to create a PR
    name: Update api docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      - run: npm install -g npm@latest
        continue-on-error: true
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: source
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: gh-pages
          path: yeoman-environment-doc
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}-gh-pages
            ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}-
      - run: npm ci
        working-directory: source
      - run: npm config set yeoman-environment:doc_path ../yeoman-environment-doc/${{ github.event.inputs.path }}
        working-directory: source
      - run: npm run doc
        working-directory: source
      - name: Create commit
        working-directory: yeoman-environment-doc
        if: always()
        run: |
          git add .
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "Github Actions"
          git commit -a -m "Update api for ${{github.event.release.name}}" || true
      - name: Create Pull Request
        if: always()
        id: cpr
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'Update api for ${{github.event.release.name}}'
          title: 'Update api for ${{github.event.release.name}}'
          body: |
            Update api docs
          labels: automated pr
          branch: gh-pages-master
          path: yeoman-environment-doc
      - name: Check outputs
        run: |
          echo "Pull Request Number - ${{ env.PULL_REQUEST_NUMBER }}"
          echo "Pull Request Number - ${{ steps.cpr.outputs.pr_number }}"
