name: Integration Build

on:
  # push:
  #  branches-ignore:
  #    - 'dependabot/**'
  pull_request:
    branches:
      - 'ignore'

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [14.x]

    steps:
      - name: Checkout yeoman-test
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: yeoman/yeoman-test
          path: yeoman-test

      - name: Checkout yeoman-generator
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: yeoman/generator
          path: yeoman-generator

      - name: Checkout yeoman-environment
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          path: yeoman-environment

      - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        with:
          node-version: ${{ matrix.node-version }}

      - uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4.2.0
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}-integration
          restore-keys: |
            ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}-

      - name: Run yeoman-test test
        run: |
          cd $GITHUB_WORKSPACE/yeoman-test
          npm ci
          npm install yeoman/generator#main
          npm install ${{ github.repository }}#$GITHUB_REF
          npm test

      - name: Run yeoman-generator test
        if: always()
        run: |
          cd $GITHUB_WORKSPACE/yeoman-generator
          npm ci
          npm install yeoman/yeoman-test#main
          npm install ${{ github.repository }}#$GITHUB_REF
          npm test

      - name: Run yeoman-environment test
        if: always()
        run: |
          cd $GITHUB_WORKSPACE/yeoman-environment
          npm ci
          npm install yeoman/yeoman-test#main
          npm install yeoman/generator#main
          npm test
