name: Integration Build

on:
  # push:
  #  branches-ignore:
  #    - 'dependabot/**'
  pull_request:
    branches:
      - 'ignore'

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [20.x]

    steps:
      - name: Checkout yeoman-test
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: yeoman/yeoman-test
          path: yeoman-test

      - name: Checkout yeoman-generator
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: yeoman/generator
          path: yeoman-generator

      - name: Checkout yeoman-environment
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: yeoman-environment

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}

      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}-integration
          restore-keys: |
            ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}-

      - name: Run yeoman-test test
        run: |
          cd $GITHUB_WORKSPACE/yeoman-test
          npm ci
          npm install yeoman/generator#main
          npm install ${{ github.repository }}#$GITHUB_REF
          npm test

      - name: Run yeoman-generator test
        if: always()
        run: |
          cd $GITHUB_WORKSPACE/yeoman-generator
          npm ci
          npm install yeoman/yeoman-test#main
          npm install ${{ github.repository }}#$GITHUB_REF
          npm test

      - name: Run yeoman-environment test
        if: always()
        run: |
          cd $GITHUB_WORKSPACE/yeoman-environment
          npm ci
          npm install yeoman/yeoman-test#main
          npm install yeoman/generator#main
          npm test
